
.kanban-board {
    background-color: white!important;
}

.kanbans-list {
    position: relative;
    left: 10%;
    width: 75%;
    top: 5rem;
}

.kanbans-list-buttons {
    margin-bottom: 2.5rem;
}

.kanban-title-list {
    text-decoration: none!important;
    color: black;
    font-weight: bold;
}

.kanban-description-list {
    text-decoration: none;
    color: black;
}

.kanban-list-element {
    cursor: pointer;
}