.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #8acd8e;
    width: 100%;
    height: 57px;
    flex-wrap: wrap;
}
.members{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    color: #F3F3F3;
}
.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}

.onlineIcon {
    margin-right: 5%;
}