.linkChat{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 25%;
    text-decoration: none;
    color: cornflowerblue;
    text-transform: uppercase;
}

.delete-wrapper {
    color: #2C6430;
    padding-right: 5%;
    padding-top: 5%;
}
.delete{
    cursor: pointer;
}

.card{
    padding: 0px;
}

.card-body{
    padding: 0px;
}