html, body{
  position: relative;
  height: 100%;
}

#root{
  position: relative;
  min-height: 100%;
}

.page{
  position: absolute;
  height: 100%;

}

.page-in {
  flex-wrap: initial;
  min-height: 100%;
  align-items: stretch;
}

.container-component{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.containerIn{
  height: auto;
}