.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A1D;
}

.call-title{
    display: flex;
    height: 57px;
    background: #000000;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.item-wrapper.list-group-item{
    border-radius: 0px;
}

.chat-wrapper{
    position: relative;
    display: flex;
}

.chat-In{
    width: 100%;
}


@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }


}

@media (min-width: 480px) and (max-width: 1200px) {

}