.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.input {
    border: none;
    border-radius: 0;
    padding: 10px;
    width: 100%;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2C6430;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}