.app-form {
    min-width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    padding: 30px;
    box-shadow: 0 5px 5px 0 rgba(177, 202, 221, 0.08), 2px 1px 10px 2px rgba(60, 64, 67, 0.16);
}

.form-title {
    display: flex;
}

.form-button {
    float: right;
}

.sign-up-button {
    margin-top: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: grey;
}

.form-title-text {
    margin-top: 5px;
    margin-left: 10px;
}

.signup-form-title {
    margin-bottom: 20px;
}