.menu-top{
    background: #000000;
}
.menu-top ul{
list-style: none;
}
.menu-top ul li a {
    text-decoration: none;
    color: #fff;
}
.menu-container {
    background: #2C6430;
    text-align: center;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2C6430;
    padding: 10px 0px;
}

.search-bar input{
    min-width: 320px;
    border-radius: 20px;
    border: 0px;
    outline: none;
    padding: 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.lateralMenu {
    background: #4BB252;
    height: 100%;
}

.lateralMenuIn {
    list-style: none;
    padding-left: 0px;
}

.lateralMenuIn li a{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    white-space: nowrap;
}


.linkText{
    font-size: 12px;
}
