.title-wrapper{
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
}

.page-item.active .page-link {
    background-color: #2c6430;
    border-color: #2c6430;
}

.react-bootstrap-table {
 overflow-x: auto;
}



.page-link {color: #000;}

button.btn.btn-form, span.btn.btn-form {
    color: #fff;
    background-color: #2C6430;
}

button.btn-outline {
    color: #2C6430;
    background-color: #fff;
    border: 1px solid #2C6430;
}